.hoverable{
    -fx-background-color:  #636e72;
}

.hoverable:hover{
    -fx-background-color:  #b2bec3;
}

.active{
    -fx-background-color:  #55efc4;
}

.movable{
    -fx-border-color:  green;
    -fx-border-width: 5;
}

.trail{
    -fx-background-color: #fab1a0;
}

.captured{
    -fx-background-color: #a29bfe;
}